body {
	font-family: "PTSans", "Arial", serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;

}

h1 {
	font-family: "PTSans", "Arial", serif;
	font-size: 30px;
	line-height: 42px;
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

h2 {
	font-family: "PTSans", "Arial", serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}
